<h2>Simulation  <%= image_tag("simulation-icon.png") %></h2>
<div id="form_name", class="hidden"><%= "simulation" %></div>

<%= form_for(@simulation) do |f| %>

	 <p>
	 <% if @simulation.errors.any? %>
	   <div id="error_explanation", class="alert alert-danger">
	     <%= pluralize(@simulation.errors.count, "error") %> prohibited this simulation from being saved:

	     <ul>
	     <% @simulation.errors.full_messages.each do |message| %>
	       <li><%= message %></li>
	     <% end %>
	     </ul>
	   </div>
	 <% end %>
	 </p>

	<table class="table table-bordered table-hover table-condensed">
		<tbody>
			<tr>
				<td><strong>Name: </strong></td><td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td><strong>Description: </strong></td><td><%= f.text_field :description, :size=>"120" %></td>
			</tr>
			<tr>
				<td><strong>Pipeline: </strong></td><td><%= f.select :pipeline_id , current_user.pipelines.all.collect {|p| [p.name, p.id]} %>
				<% pipeline_id = @simulation.pipeline_id %>
				<% @pipeline = Pipeline.find(pipeline_id) %>
				<% number_stations = @pipeline.stations.count %>
				<span id="number_stations" class="hidden"><%= number_stations %></span></td>
			</tr>
			<tr>
				<td><strong>Nomination: </strong></td><td><%= f.select :nomination_id , current_user.nominations.all.collect {|n| [n.name, n.id]} %>
				<span id="total_volume" class="hidden"></span></td>
			</tr>
			<tr>
				<td><strong>Max Flowrate: </strong></td>
				<td>
					<%= f.number_field :max_flowrate, :step => "any", id: "max_flowrate" %>
					<%= (@simulation.flow_unit)%>
				</td>
			</tr>
			<tr>
				<td><strong>Max Batch Size: </strong></td>
				<td>
					<%= f.number_field :max_batchsize, :step => "any", id: "max_batchsize" %>
					<%= (@simulation.vol_unit) %>
				<span id="number_batches" class="hidden"></span></td>
			</tr>
			<tr>
				<td><strong>Max Step Time (hrs): </strong></td><td><%= f.number_field :max_steptime, :step => "any", id: "max_steptime" %></td>
			</tr>
			<tr>
				<td><strong>Output Units:</strong></td>
				<td><strong>Results will be displayed in the following units:</strong><br>
					<div class="col-sm-3">Distances along pipeline: </div><div class="col-sm-9"><%= f.select :dist_unit, ["km", "mile"]%> post</div>
					<div class="col-sm-3">Flow rates: </div><div class="col-sm-9"><%= f.select :flow_unit, ["m3/hr", "m3/day", "bbls/hr", "bbls/day"]%></div>
					<div class="col-sm-3">Volumes: </div><div class="col-sm-9"><%= f.select :vol_unit, ["m3", "bbls"]%></div>
					<div class="col-sm-3">Pressures: </div><div class="col-sm-9"><%= f.select :pres_unit, ["kpa", "psi"]%></div>
					<div class="col-sm-3">Energy: </div><div class="col-sm-9"><%= f.select :energy_unit, ["kwh", "ft-lbs"]%></div>
					<div class="col-sm-3">Power: </div><div class="col-sm-9"><%= f.select :power_unit, ["kw", "hhp"]%></div>
					<div class="col-sm-3">Pump Curve Head: </div><div class="col-sm-9"><%= f.select :pmphead_unit, ["m", "ft"]%></div>
					<div class="col-sm-3">Pump Curve Flow: </div><div class="col-sm-9"><%= f.select :pmpflow_unit, ["m3/hr", "gal/min", "m3/day", "bbls/day", "bbls/hr"]%></div>
				</td>
			<tr>
				<td><button type="button" id="estimate_steps" class="btn btn-info" data-toggle="tooltip" title="Estimates the number of time steps in the simulation which is an indication of how long it will take the simulation to complete.  Steps over 1000 will generally take over a minute to complete.">Estimate Steps</button></td>
				<td class="alert alert-warning">Estimated number of steps:  <span id="number_steps"></span>
				<div id="warning_message"></div>
				</td>
			</tr>
		</tbody>
	</table>


<%= f.submit :Save, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>


