<h2>Simulations</h2>
<table class="fixed", style="width: 1200px;">
  <thead>
   <tr>
      <th>Name</th>
	  <th>Description</th>
      <th>Pipeline</th>
	  <th>Nomination</th>
	  <th>Prior Schedule</th>
	  <th>Max Flowrate</th>
	  <th>Max Batchsize</th>
    </tr>
  </thead>

  <tbody>
	<% @simulations.order(name: :asc).each do |simulation| %>
      <tr>
        <td><%= link_to simulation.name, simulation_path(simulation) %></td>
        <td><%= simulation.description %></td>
        <td><%= link_to simulation.pipeline_name, Pipeline.find {|p| p.name == simulation.pipeline_name} %></td>
        <td><%= link_to simulation.nomination_name, Nomination.find {|n| n.name == simulation.nomination_name} %></td>
        <td><%= link_to simulation.schedule_name, Schedule.find {|s| s.name == simulation.schedule_name} %></td>
        <td><%= simulation.max_flowrate %></td>
        <td><%= simulation.max_batchsize %></td>
      </tr>
	<% end %>
	<td colspan="7"><%= link_to 'Add Simulation', new_simulation_path %></td>
  </tbody>
</table>
