<h2 class="col-sm-4", , data-toggle="tooltip" title="A simulation specification joins a specific pipeline together with the nomination shipments to be pumped through the line.  It also specifies the desired flowrate and batch sizing for the line.">Simulations <%= image_tag("simulation-icon.png") %></h2>
<h2 class="col-sm-8 text-right"><span data-toggle="tooltip" title="Show form to create a new simulation record"><%= link_to 'Add Simulation', new_simulation_path, class: 'btn btn-success' %></span></h2>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <% if current_user.admin? then %>
		<th>User</th>
	  <% end %>
      <th>Name</th>
	  <th>Last Run On</th>
      <th>Pipeline</th>
	  <th>Nomination</th>
	  <th>Max Flowrate</th>
	  <th>Max Batchsize</th>
	  <th>Max<br>Steptime<br>(hrs)</th>
    </tr>
  </thead>

  <tbody>
	<% @simulations.order(name: :asc).each do |simulation| %>
		<% sim_id = simulation.id%>
		<% result_records = Result.where(["step = ? and simulation_id = (?)", 1, sim_id]) %>
		<% if result_records.any? then%>
			<% result_record_first = result_records.first %>
			<% last_runtime = result_record_first.created_at.strftime("%Y-%m-%d %H:%M") %>
		<% else %>	
			<% last_runtime = ""%>
		<% end%>
      <tr>
		<% if current_user.admin? then %>
			<% pipeline = Pipeline.find {|p| p.id == simulation.pipeline_id} %>
			<% nomination  = Nomination.find {|n| n.id == simulation.nomination_id} %>
			<td><%= (User.find {|u| u.id == simulation.user_id}).email %></td>
		<% else %>
			<% pipeline = current_user.pipelines.find {|p| p.id == simulation.pipeline_id} %>
			<% nomination = current_user.nominations.find {|n| n.id == simulation.nomination_id} %>
		<% end %>
        <td><%= link_to simulation.name, simulation_path(simulation) %></td>
		<td><%= last_runtime %></td>
		<% if pipeline then %>
        	<td><%= link_to pipeline.name, pipeline %></td>
		<% else %>
			<td><%= "Pipeline missing" %></td>
		<% end %>
		<% if nomination then %>
        	<td><%= link_to nomination.name, nomination %></td>
		<% else %>
			<td><%= "Nomination missing " %></td>
		<% end %>
        <td><%= simulation.max_flowrate %> <%= simulation.flow_unit%></td>
        <td><%= simulation.max_batchsize %> <%= simulation.vol_unit%></td>
		<td><%= simulation.max_steptime %></td>
      </tr>
	<% end %>
  </tbody>
</table>

