<h2>Simulation</h2>
<table>
  <thead>
	<tr>
		<% if current_user.admin? then %>
			<th>User</th>
		<% end %>
	   <th>Name</th>
	   <th>Description</th>
	   <th>Pipeline</th>
	   <th>Nomination</th>
	   <th>Max Flowrate (m3/hr)</th>
	   <th>Max Batchsize (m3)</th>
	   <th>Max Steptime (hrs)</th>
	 </tr>
  </thead>
	<% if current_user.admin? then %>
		<% pipeline = Pipeline.find {|p| p.id == @simulation.pipeline_id} %>
		<% nomination = Nomination.find {|n| n.id == @simulation.nomination_id} %>
	<% else %>
		<% pipeline = current_user.pipelines.find {|p| p.id == @simulation.pipeline_id} %>
		<% nomination = current_user.nominations.find {|n| n.id == @simulation.nomination_id} %>
    <% end %>
  <tbody>
      <tr>
		<% if current_user.admin? then %>
			<td><%= (User.find {|u| u.id == @simulation.user_id}).email %></td>
		<% end %>
        <td><%= @simulation.name %></td>
        <td><%= @simulation.description %></td>
		<% if pipeline then %>
        	<td><%= link_to pipeline.name, pipeline %></td>
		<% else %>
			<td><%= "Pipeline missing" %></td>
		<% end %>
		<% if nomination then %>
        	<td><%= link_to nomination.name, nomination %></td>
		<% else %>
			<td><%= "Nomination missing " %></td>
		<% end %>
    <td><%= @simulation.max_flowrate %></td>
    <td><%= @simulation.max_batchsize %></td>
		<td><%= @simulation.max_steptime %></td>
    </tr>
  </tbody>
</table>
