<h2>Simulation</h2>
<table class="fixed", style="width: 1200px;">
  <thead>
	<tr>
	   <th>Name</th>
		  <th>Description</th>
	   <th>Pipeline</th>
		  <th>Nomination</th>
		  <th>Prior Schedule</th>
		  <th>Max Flowrate</th>
		  <th>Max Batchsize</th>
	 </tr>
  </thead>
	<% pipeline = Pipeline.find {|p| p.id == @simulation.pipeline_id} %>
	<% nomination = Nomination.find {|n| n.id == @simulation.nomination_id} %>
	<% schedule = Schedule.find {|s| s.id == @simulation.schedule_id} %>

  <tbody>
      <tr>
        <td><%= @simulation.name %></td>
        <td><%= @simulation.description %></td>
        <td><%= link_to pipeline.name, pipeline %></td>
        <td><%= link_to nomination.name, nomination %></td>
        <td><%= link_to schedule.name, schedule %></td>
        <td><%= @simulation.max_flowrate %></td>
        <td><%= @simulation.max_batchsize %></td>
      </tr>
  </tbody>
</table>
