<h2>Simulation  <%= image_tag("simulation-icon.png") %></h2>
<table class="table table-bordered table-hover table-condensed">
  <thead>
	<tr>
		<% if current_user.admin? then %>
			<th>User</th>
		<% end %>
	   <th>Name</th>
	   <th>Pipeline</th>
	   <th>Nomination</th>
	   <th>Max Flowrate</th>
	   <th>Max Batchsize</th>
	   <th>Max Steptime (hrs)</th>
	   <th>Last Run On</th>
	 </tr>
  </thead>
	<% if current_user.admin? then %>
		<% pipeline = Pipeline.find {|p| p.id == @simulation.pipeline_id} %>
		<% nomination = Nomination.find {|n| n.id == @simulation.nomination_id} %>
	<% else %>
		<% pipeline = current_user.pipelines.find {|p| p.id == @simulation.pipeline_id} %>
		<% nomination = current_user.nominations.find {|n| n.id == @simulation.nomination_id} %>
    <% end %>
	
	<% sim_id = @simulation.id%>
	<% result_records = Result.where(["step = ? and simulation_id = (?)", 1, sim_id]) %>
	<% if result_records.any? then %>
		<% result_record_first = result_records.first %>
		<% last_runtime = result_record_first.created_at.strftime("%Y-%m-%d %H:%M") %>
	<% else %>
		<% last_runtime = "" %>
	<% end %>
	
  <tbody>
      <tr>
		<% if current_user.admin? then %>
			<td><%= (User.find {|u| u.id == @simulation.user_id}).email %></td>
		<% end %>
        <td><%= link_to @simulation.name, @simulation %></td>
		<% if pipeline then %>
        	<td><%= link_to pipeline.name, pipeline %></td>
		<% else %>
			<td><%= "Pipeline missing" %></td>
		<% end %>
		<% if nomination then %>
        	<td><%= link_to nomination.name, nomination %></td>
		<% else %>
			<td><%= "Nomination missing " %></td>
		<% end %>
        <td><%= @simulation.max_flowrate %> <%= @simulation.flow_unit%></td>
        <td><%= @simulation.max_batchsize %> <%= @simulation.vol_unit%></td>
		<td><%= @simulation.max_steptime %></td>
		<td><%= last_runtime %>
    </tr>
  </tbody>
</table>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li id="runSim"><%= link_to 'Run Simulation', url_for(action: 'run', controller: 'simulations'), remote: true, :method => :get%> </li>
		<li class="dropdown">
	        <a id="showResults", class="dropdown-toggle" data-toggle="dropdown" href="#">Results<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'Summary Results', summary_result_path(@simulation.id) %> </li>
				<li><%= link_to "Step Details", step_detail_result_path(:id => @simulation.id, :step => 1) %></li>
				<li><%= link_to "Step Linefill", step_linefill_result_path(:id => @simulation.id, :step => 1) %></li>
				<li><%= link_to "Step Flowrates", step_flowrates_result_path(:id => @simulation.id) %><li>
				<li><%= link_to "Station Curves", station_curves_result_path(:id => @simulation.id) %></li>
				<li><%= link_to "Batch Sequence", batch_sequence_result_path(:id => @simulation.id) %></li>
				<li><%= link_to "Power/Energy", power_result_path(:id => @simulation.id) %></li>
			</ul>
		</li>			
		<li data-toggle="tooltip" title="Change the attributes of a simulation."><%= link_to 'Edit Simulation', edit_simulation_path(@simulation) %> </li>
		<li data-toggle="tooltip" title="Delete a simulation record."><%= link_to 'Delete', simulation_path(@simulation.id), method: :delete, data: { confirm: 'Are you sure you want to delete this simulation?' } %> </li>
		<li data-toggle="tooltip" title="Create another copy of this simulation."><%= link_to 'Copy', copy_simulation_path(@simulation.id),  data: {confirm: 'Are you sure you want to make a copy of this simulation?' } %> </li>
		<li><%= link_to 'Back', simulations_path %> </li>
	</ul>
  </div>
</nav>

<div id="simulation", class="hidden">
	<div class="progress">
	    <div class="progress-bar", id="sim_progress_bar", style="width: 0%;"></div>
	</div>
	<span class="small">Simulation Message Panel:</span>
	<div class="panel panel-success">
		<div class="panel-heading message"></div>	
	</div>	
</div>
