<p>
<%= link_to 'Back to Summary Results', session[:return_to] %> | 
<%= link_to "View Step Details", step_detail_result_path %> | 
<%= link_to "View Station Curves", station_curves_result_path %> |
<%= link_to "View Step Flowrates", step_flowrates_result_path %> |
<%= link_to "View Batch Sequence", batch_sequence_result_path %>
</p>
