<p>
<%= link_to 'Summary Results', summary_result_path(@simulation.id) %> | 
<%= link_to "Step Details", step_detail_result_path(1) %> | 
<%= link_to "Step Linefill", step_linefill_result_path(1) %> |
<%= link_to "Step Flowrates", step_flowrates_result_path %> |
<%= link_to "Station Curves", station_curves_result_path %> |
<%= link_to "Batch Sequence", batch_sequence_result_path %> |
<%= link_to "Schedule", schedule_result_path %> |
<%= link_to "Power/Energy", power_result_path %> |
<%= link_to 'Back', :back %>
</p>
