<p id="notice"><%= notice %></p>
<%= render 'shared/error_messages', :object => @simulation %>

<%= render 'show' %>
<%= render 'sim_result_links' %>

<% @pipeline = Pipeline.find {|s| s.name == @simulation.pipeline_name} %>
<% @nomination = Nomination.find {|s| s.name == @simulation.nomination_name} %>

<% if @simulation.errors.empty? then %>
	<h2>Simulation Ran Successfully</h2>
	Duration: <%= $timestamp.round(2) %> hours<br>
	Number of steps: <%=  $maxsteps %>
<% else %>
	<h2>Simulation Failed!</h2>
<% end %>


<br>
Temperatures Profile is: <br>
<% @pipeline.temperatures.each do |i| %>
  <%= '%8.2f' % i.kmp %> <%= '%6.2f' % i.temperature %><br>
<% end %>
<br>
Volumes Profile is: <br>
<% @simulation.volmar.each do |i| %>
  <%= '%8.2f' % i.kmp %> <%= '%8.2f' % i.val %><br>
<% end %>
<br>
Elevations Profile is: <br>
<% @simulation.elevar.each do |i| %>
  <%= '%.2f' % i.kmp %> | <%= '%.2f' % i.val %><br>
<% end %>
<br>
Linefill is: <br>
<% @simulation.lfill.each do |i| %>
  <%= '%-15s'% i.stat %> | <%= '%8.2f'% i.kmp %> | <%= '%6d'% i.batch %> | <%= '%-6s'% i.commodity_id %> | <%= '%8.2f'% i.batch_vol %><br>
<% end %>

