<p id="notice"><%= notice %></p>
<%= render 'shared/error_messages', :object => @simulation %>

<%= render 'show' %>
<%= render 'sim_result_links' %>

<% @pipeline = Pipeline.find {|s| s.name == @simulation.pipeline_name} %>
<% @nomination = Nomination.find {|s| s.name == @simulation.nomination_name} %>

<h2>Simulation Ran Successfully</h2>
Duration: <%= $timestamp.round(2) %> hours<br>
Number of steps: <%=  $maxsteps %>


