<p id="notice"><%= notice %></p>
<%= render 'shared/error_messages', :object => @simulation %>

<%= render 'show' %>
<%= render 'sim_result_links' %>

<% @pipeline = Pipeline.find {|s| s.name == @simulation.pipeline_name} %>
<% @nomination = Nomination.find {|s| s.name == @simulation.nomination_name} %>

<% if @simulation.errors.empty? then %>
	<h2>Simulation Ran Successfully</h2>
	Duration: <%= (($timestamp - $initial_timestamp)/3600.0).round(2) %> hours<br>
	Number of steps: <%=  $maxsteps %>
<% else %>
	<h2>Simulation Failed!</h2>
<% end %>

