<span class="hidden" id="header">Run Simulation</span>
<%= render 'shared/error_messages', :object => @simulation %>

<%= render 'show' %>

<%= link_to 'Edit Simulation', edit_simulation_path(@simulation) %> |
<%= link_to 'Delete', simulation_path(@simulation.id), method: :delete, data: { confirm: 'Are you sure you want to delete this simulation?' } %> |
<%= link_to 'Copy', copy_simulation_path(@simulation.id),  data: {confirm: 'Are you sure you want to make a copy of this simulation?' } %> |
<%= link_to 'Back', simulations_path %>
<br><br>

<div id="simulation_id" class="hidden"><%= @simulation.id %></div>
<div class="progress" style="width: 800px">
  <div id="progressbar" class="progress-bar" role="progressbar" style="width: 0%" >"0%"</div>
</div>
<div id="simulation_status" class="text-success bg-success"></div>
<%= button_to "Run Simulation", {:controller => :simulations, :action => 'run'}, :method => :get, :id => "runSim", class: 'btn btn-success' %>



	
	
