<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3>Temperature  <%= image_tag "temperature-icon.png"%></h3>
<%= form_for([@pipeline, @temperature]) do |f| %>
  <p>
  <% if @temperature.errors.any? %>
    <div id="error_explanation", class="alert alert-danger">
      <%= pluralize(@temperature.errors.count, "error") %> prohibited this temperature from being saved:

      <ul>
      <% @temperature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </p>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Temperature (deg C)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= f.number_field :kmp,  :step => "any" %></td>
        <td><%= f.number_field :temperature, :step => "any" %></td>
      </tr>
  </tbody>
</table>
<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
</div>
