<h3>Temperature</h3>
<%= form_for([@pipeline, @temperature]) do |f| %>
  <p>
  <% if @temperature.errors.any? %>
    <div id="error_explanation", class="bg-danger">
      <%= pluralize(@temperature.errors.count, "error") %> prohibited this temperature from being saved:

      <ul>
      <% @temperature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </p>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Temperature (deg C)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= f.number_field :kmp,  :step => "any" %></td>
        <td><%= f.number_field :temperature, :step => "any" %></td>
      </tr>
  </tbody>
</table>
<div class="actions">
   <span class="col-sm-2"><%= f.submit %></span><span class="col-sm-2"><%= link_to 'Back', :back %></span>
</div>
<% end %>
