<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3 class="col-sm-4">Temperatures  <%= image_tag "temperature-icon.png"%></h3>
<h3 class="col-sm-8 text-right"><%= link_to 'Add Temperature', new_pipeline_temperature_path(@pipeline), class: 'btn btn-success' %></h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <th>Distance (<%= @pipeline.dist_unit%>post)</th>
      <th>Temperature (<%= @pipeline.temp_unit%>)</th>
    </tr>
  </thead>

  <tbody>
	<% @pipeline.temperatures.order(kmp: :asc).each do |temperature| %>
      <tr>
		<td><%= link_to temperature.kmp, pipeline_temperature_path(temperature.pipeline_id, temperature.id) %></td>
        <td><%= temperature.temperature %></td>
      </tr>
	<% end %>
  </tbody>
</table>
</div>

