<p id="notice"><%= notice %></p>
<%= render 'pipelines/show_one' %>
<br>
<%= render 'stations/index' %>
<%= render 'segments/index' %>
<%= render 'elevations/index' %>
<%= render 'index' %>

<h2>Temperature</h2>
<table class="fixed", style="width: 500px;">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Temperature (deg C)</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @temperature.kmp %></td>
        <td><%= @temperature.temperature %></td>
		<td></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit Temperature', edit_pipeline_temperature_path(@temperature.pipeline_id, @temperature.id) %> |
<%= link_to 'Delete', pipeline_temperature_path(@temperature.pipeline_id, @temperature.id), method: :delete, data: { confirm: 'Are you sure you want to delete this temperature?' } %> |
<%= link_to 'Back', pipeline_path(@pipeline) %>
