<h2>Sign up  <%= image_tag("user-icon.png") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= link_to 'Terms of Service', '/pages/terms' %>
  <div class="checkbox">
	    <label><%= f.check_box :terms_of_service %><strong> I accept the terms of service<strong></label>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>

<br>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary"%>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

