<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3>Station  <%= image_tag "station-icon.png"%></h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th><%= @pipeline.dist_unit%>post</th>
      <th>Station Name</th>
	  <th>Number of Pumping Units</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<% number_of_units = @station.units.count %>
		<td><%= @station.kmp  %></td>
        <td><%= @station.name %></td>
		<td><%= number_of_units %></td>
      </tr>
  </tbody>
</table>
</div>