<h3>Headpoint</h3>
<%= form_for([@pump, @headpoint]) do |f| %>
  <% head_units = @pump.head_units %>
  <% flow_units = @pump.flow_units %>
  <p>
  <% if @headpoint.errors.any? %>
    <div id="error_explanation", class="bg-danger">
      <%= pluralize(@headpoint.errors.count, "error") %> prohibited this headpoint from being saved:

      <ul>
      <% @headpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </p>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Flowrate (<%= flow_units %>)</th>
      <th>Head (<%= head_units %>)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= f.number_field :flow,  :autofocus => true, :step => "any"  %></td>
        <td><%= f.number_field :head,  :step => "any"  %></td>
      </tr>
  </tbody>
</table>
<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
