<h3 class="col-sm-4">Headpoints</h3>
<h3 class="col-sm-8 text-right"><%= link_to 'Add Headpoint', new_pump_headpoint_path(@pump), class: 'btn btn-success' %></h3>

<table class="table table-bordered table-hover table-condensed">
  <% head_units = @pump.head_units %>
  <% flow_units = @pump.flow_units %>
  <thead>
    <tr>
      <th>Flow (<%= flow_units%>)</th>
      <th>Head (<%= head_units%>)</th>
    </tr>
  </thead>
  <tbody>
    <% @pump.headpoints.order(flow: :asc).each do |headpoint| %>
	  <% if !headpoint.id.nil? then %>
	      <tr>
	        <td><%= link_to headpoint.flow.round(2), pump_headpoint_path(headpoint.pump_id, headpoint.id) %></td>
	        <td><%= headpoint.head.round(2) %></td>
	      </tr>
	  <% end %>
	<% end %>
  </tbody>
</table>

<br>


