<%= render 'pumps/show_one' %>

<% head_units = @pump.head_units %>
<% flow_units = @pump.flow_units %>

<h3>Headpoint</h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Flowrate (<%= flow_units %>)</th>
      <th>Head (<%= head_units %>)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @headpoint.flow %></td>
        <td><%= @headpoint.head %></td>
      </tr>
  </tbody>
</table>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Edit Headpoint', edit_pump_headpoint_path(@headpoint.pump_id, @headpoint.id) %> </li>
		<li><%= link_to 'Delete', pump_headpoint_path(@headpoint.pump_id, @headpoint.id), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
		<li><%= link_to 'Back', pump_path(@pump) %> </li>
	</ul>
  </div>
</nav>
