<p id="notice"><%= notice %></p>
<%= render 'pumps/show_one' %>

<% head_units = @pump.head_units %>
<% flow_units = @pump.flow_units %>

<h2>Headpoint</h2>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Flowrate (<%= flow_units %>)</th>
      <th>Head (<%= head_units %>)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @headpoint.flow %></td>
        <td><%= @headpoint.head %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pump_headpoint_path(@headpoint.pump_id, @headpoint.id) %> |
<%= link_to 'Delete', pump_headpoint_path(@headpoint.pump_id, @headpoint.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', pump_path(@pump) %>
<br><br>
<%= render 'index' %>