<%= form_for([@pipeline, @elevation]) do |f| %>
  <p>
  <% if @elevation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elevation.errors.count, "error") %> prohibited this elevation from being saved:</h2>

      <ul>
      <% @elevation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </p>
<h2>Elevation</h2>
<table class="fixed", style="width: 500px;">
  <thead>
    <tr>
	  <th>Distance (kmp)</th>
      <th>Elevation (meters)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= f.number_field :kmp,  :step => "any"  %></td>
        <td><%= f.number_field :elevation, :step => "any" %></td>
      </tr>
  </tbody>
</table>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
