<h2>Schedules</h2>
<table class="fixed", style="width: 1200px;">
  <thead>
   <tr>
      <th>Name</th>
	  <th>Description</th>
	  <th>Pipeline</th>
	  <th>Start Date</th>
	  <th>Period (days)</th>
	  <th>Type</th>
    </tr>
  </thead>

  <tbody>
	<% @schedules.order(name: :asc).each do |schedule| %>
      <tr>
        <td><%= link_to schedule.name, schedule_path(schedule) %></td>
        <td><%= schedule.description %></td>
        <td><%= schedule.pipeline_name %></td>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.period %></td>
        <td><%= schedule.sched_type %></td>
      </tr>
	<% end %>
	<td colspan="6"><%= link_to 'Add Schedule', new_schedule_path %></td>
  </tbody>
</table>
