<%= render 'top' %>
<h2>Schedule for Batch <%= @batch %></h2>
<table>
	<thead>
		<tr>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Station</th>
			<th>Activity</th>
			<th>Volume</th>
			<th>Start<br>Location</th>
			<th>End<br>Location</th>
			<th>Shipper</th>
			<th>Nomination ID</th>
		</tr>
	</thead>
	
	<tbody>
		<% @results.take_while{|i| i.step == 1 and i.batch_sequence_data != nil}.each do |r| %>
			<% station = r.stat %>
			<% station_batches = r.batch_sequence_data %>
			<% station_batches.each do |b| %>
				<% if b.batch_id == @batch %>
				  <% if (b.start_time or b.end_time) and ((b.volume > 0) or (b.activity_type == "DELIVERY" or b.activity_type == "LANDING" )) then %>
					<tr>
						<td><%= b.start_time.strftime("%Y-%m-%d %H:%M") if b.start_time %></td>
						<td><%= b.end_time.strftime("%Y-%m-%d %H:%M") if b.end_time %></td>
						<td><%= station %>
						<td><%= b.activity_type %></td>
						<td><%= '%8.1f'%b.volume %></td>
						<td><%= b.start_location %></td>
						<td><%= b.end_location %></td>
						<td><%= b.shipper %></td>
						<td><%= b.nomination_name %></td>
					</tr>
				  <% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>
