<%= render 'top' %>

<div id="results">
<h3>Power Consumption</h3>
<table class="table table-bordered table-hover table-condensed">

  <thead>
   <tr>
      <th>Station</th>
	  <th>Total<br>Energy Consumption<br>(<%= @simulation.energy_unit%>)</th>
	  <th>Peak<br>Power<br>(<%= @simulation.power_unit%>)</th>
	  <th>Minimum<br>Power<br>(<%= @simulation.power_unit%>)</th>
    </tr>
  </thead>

  <tbody>
	<% stations = @results.map {|r| r.station_id}.uniq %>
	<% stations.each do |s| %>
	    <% station_results = @results.select {|r| r.station_id == s} %>
		<% station_name = station_results[0].stat %>
		<% station_powers = station_results.map {|r| r.hhp} %>
		<% station_energies = station_results.map {|r| r.hhp * r.step_time} %>
		<% total_energy = station_energies.sum %>
		<% peak_power = station_powers.max %>
		<% min_power = station_powers.min %>
		<tr>
			<td><%= station_name %></td>
			<td><%= number_with_precision(@simulation.convert_from_si(total_energy, @simulation.energy_unit), :precision => 0, :delimiter => ',') %></td>
			<td><%= number_with_precision(@simulation.convert_from_si(peak_power, @simulation.power_unit), :precision => 0, :delimiter => ',') %></td>
			<td><%= number_with_precision(@simulation.convert_from_si(min_power, @simulation.power_unit), :precision => 0, :delimiter => ',') %></td>
		</tr>
	<% end %>
  </tbody>
</table>
</div>