<%= render 'top' %>

<h3>Power Consumption</h3>
<table>

  <thead>
   <tr>
      <th>Station</th>
	  <th>Total<br>Energy Consumption<br>(KwH)</th>
	  <th>Peak<br>Power<br>(KW)</th>
	  <th>Minimum<br>Power<br>(KW)</th>
    </tr>
  </thead>

  <tbody>
	<% stations = @results.map {|r| r.station_id}.uniq %>
	<% stations.each do |s| %>
	    <% station_results = @results.select {|r| r.station_id == s} %>
		<% station_name = station_results[0].stat %>
		<% station_powers = station_results.map {|r| r.hhp} %>
		<% total_power = station_powers.sum %>
		<% peak_power = station_powers.max %>
		<% min_power = station_powers.min %>
		<tr>
			<td><%= station_name %></td>
			<td><%= number_with_precision(total_power, :precision => 1, :delimiter => ',') %></td>
			<td><%= number_with_precision(peak_power, :precision => 1, :delimiter => ',') %></td>
			<td><%= number_with_precision(min_power, :precision => 1, :delimiter => ',') %></td>
		</tr>
	<% end %>
  </tbody>
</table>
