<%= render 'top' %>
<%= render 'simulations/sim_result_links' %>

<div id="results">
<h3>Station Curves</h3>
<table class="table table-bordered table-hover table-condensed">
	<tbody>
		<% @results.each do |r| %>
			<% station_name = r.stat %>
			<tr><td><strong>Station: <%= station_name %></strong><br>
				 <% station_units = Unit.select {|u| u.station_id == r.station_id} %>
				 <% (1..6).each do |row| %>
					<% row_units = station_units.select {|su| su.unit_row == row} %>
					<% if row_units.size > 0 then %>
						<br><%= "row #{row}: " %>
						<% row_units.each do |ru| %>
							<%= " -> " %><%= link_to ru.pump_id, current_user.pumps.find {|p| p.pump_id == ru.pump_id} %>
						<% end %>
					<% end %>
				<% end %>
			</tr></td>
			<td>Flowrate (<%= @simulation.pmpflow_unit%>)</td>
			<td>Head (<%= @simulation.pmphead_unit%>)</td>
			<% station_curve = r.station_curve_data %>
			<% station_curve.each do |c| %>
				  <tr>
					  <% flowpt = @simulation.convert_from_si(c.flow, @simulation.pmpflow_unit) %>
					  <% headpt = @simulation.convert_from_si(c.head, @simulation.pmphead_unit) %>
			          <td><%= number_with_precision(flowpt, :precision => 1, :delimiter => ',') %></td>
				      <td><%= '%6.1f' % headpt %></td>
				  </tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</div>