<%= render 'top' %>

<h2>Station Curves</h2>
<table style="width:800px">
	<tbody>
		<% @results.each do |r| %>
			<% station_name = r.stat %>
			<tr><td colspan="2"><strong>Station: <%= station_name %></strong><br>
				 <% station_units = Unit.select {|u| u.station_id == r.station_id} %>
				 <% (1..6).each do |row| %>
					<% row_units = station_units.select {|su| su.unit_row == row} %>
					<% if row_units.size > 0 then %>
						<br><%= "row #{row}: " %>
						<% row_units.each do |ru| %>
							<%= " -> " %><%= link_to ru.pump_id, Pump.find {|p| p.pump_id == ru.pump_id} %>
						<% end %>
					<% end %>
				<% end %>
			</tr></td>
			<td>Flowrate (m3/hr)</td>
			<td>Head (meters)</td>
			<% station_curve = r.station_curve_data %>
			<% station_curve.each do |c| %>
				  <tr>
			      <td><%= '%6.1f' % c.flow %></td>
				  <td><%= '%6.1f' % c.head %></td>
				  </tr>
			<% end %>
		<% end %>
	</tbody>
</table>
