<%= render 'top' %>

<% station_name = @results.first.stat %>

<div id="results">
<h3>Step Detail for Station: <%= station_name %></h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
    <th>Step</th>
	  <th>Flowrate</th>
	  <th>Pumped<br>Volume</th>
	  <th>Up<br>stream<br>Batch</th>
	  <th>Down<br>stream<br>Batch</th>
	  <th>Holding</th>
	  <th>Suction</th>
	  <th>Head</th>
	  <th>Case</th>
	  <th>Discharge</th>
	  <th>HHP<br>(KW)</th>
    </tr>
  </thead>

<br>
  <tbody>
	<% @results.each do | i | %>
      <tr>
		<% step_string = "#{i.step} @ #{i.step_time.round(2)} hrs" %>
		<td><%= link_to step_string, step_detail_result_path(:id => @sim_id, :step => i.step) %></td>
		<td><%= '%8.1f'% i.flow %></td>
		<td><%= '%10.1f'% i.pumped_volume %></td>
		<td><%= i.upstream_batch %></td>
		<td><%= i.downstream_batch %></td>
		<td><%= '%.1f'% i.hold %>
		<td><%= '%.1f'% i.suct %>
        <td><%= '%.1f'% i.head %></td>
        <td><%= '%.1f'% i.casep %></td>
        <td><%= '%.1f'% i.disc %></td>
		<td><%= '%.1f'% i.hhp %></td>
      </tr>
	<% end %>
  </tbody>
</table>
</div>
