<%= render 'top' %>
<%= render 'simulations/sim_result_links' %>

<% btsqar = Array.new %>
<% stations = Array.new %>
<% stn_ix = 0 %>
<% @results.take_while{|i| i.step == 1 and i.batch_sequence_data != nil}.each do |r| %>
	<% stations[stn_ix] = r.stat %>
	<% station_batches = r.batch_sequence_data %>
	<% btsqar[stn_ix] = station_batches %>
	<% stn_ix = stn_ix + 1 %>
<% end %>
<% steprecs = @results.select {|r| r.step == @step} %>
<% maxsteps = (@results.map {|r| r.step}).max %>
<% linefill = steprecs[0].linefill %>


<div id="results">
<h3>Linefill for step <%= @step.to_s %> duration <%= steprecs[0].step_time.round(2) %> hrs ----
	<% if @step == 1 then %>
		<%= link_to "Prev", step_linefill_result_path(:id => @sim_id, :step => maxsteps) %>
	<% else %>
		<%= link_to "Prev", step_linefill_result_path(:id => @sim_id, :step => @step-1) %>
	<% end %>
	<%= " | " %>
	<% if @step == maxsteps %>
		 <%= link_to "Next", step_linefill_result_path(:id => @sim_id, :step => 1) %>
	<% else %>
		<%= link_to "Next", step_linefill_result_path(:id => @sim_id, :step => @step+1) %>
	<% end %>
</h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
      <th>Upstream Station</th>
	  <th>Kmp</th>
	  <th>Batch</th>
	  <th>Volume (<%= @simulation.vol_unit%>)</th>
    </tr>
  </thead>

  <tbody>

	<% linefill.each do |i| %>
	  <tr>
		<% stn_ix = stations.index(i.stat) %>
		<% batch = i.batch %>
		<% batch_id = i.batch_id %>
		<td style="width: 25%;"><%= i.stat %></td>
		<td style="width: 25%;"><%= '%8.2f'% i.kmp %></td>
		<td style="width: 25%;"><%= batch_id %></td>
		<% vol = @simulation.convert_from_si(i.batch_vol, @simulation.vol_unit)%>
		<td style="width: 25%;"><%= number_with_precision(vol, :precision => 1, :delimiter => ',') %></td>
	  </tr>
	<% end %>

 </tbody>
</table>
</div>
