<%= render 'top' %>

<% stepresults = @results.select {|r| r.simulation_id == @sim_id and r.step == @step} %>

<h2>Details for Step <%= @step %> @ <%= stepresults[0].timestamp.strftime("%Y-%m-%d %H:%M") %>
	<% if @step == 1 then %>
		<%= link_to "Prev", step_detail_result_path(:id => @sim_id, :step => $maxsteps) %>
	<% else %>
		<%= link_to "Prev", step_detail_result_path(:id => @sim_id, :step => @step-1) %>
	<% end %>
	<%= " | " %>
	<% if @step == $maxsteps %>
		 <%= link_to "Next", step_detail_result_path(:id => @sim_id, :step => 1) %>
	<% else %>
		<%= link_to "Next", step_detail_result_path(:id => @sim_id, :step => @step+1) %>
	<% end %>	
</h2>

<table>
  <thead>
   <tr>
      <th>Station</th>
	  <th>Kmp</th>
	  <th>Flowrate</th>
	  <th>Pumped<br>Volume</th>
	  <th>Upstream<br>Batch</th>
	  <th>Downstream<br> Batch</th>
	  <th>Holding</th>
	  <th>Suction</th>
	  <th>Head</th>
	  <th>Case</th>
	  <th>Discharge</th>
	  <th>HHP<br>(KW)</th>
    </tr>
  </thead>

  <tbody>
	<% stepresults.each do | i | %>
      <tr>
		<td><%= i.stat %></td>
        <td><%= '%.2f'% i.kmp %></td>
		<td><%= '%8.2f'% i.flow %></td>
		<td><%= '%10.2f'% i.pumped_volume %></td>
		<td><%= i.upstream_batch %></td>
		<td><%= i.downstream_batch %></td>
		<td><%= '%.2f'% i.hold %></td>
		<td><%= '%.2f'% i.suct %></td>
        <td><%= '%.2f'% i.head %></td>
        <td><%= '%.2f'% i.casep %></td>
        <td><%= '%.2f'% i.disc %></td>
		<td><%= '%.1f'% i.hhp %></td>
      </tr>
	<% end %>
  </tbody>
</table>
<br>
