<%= render 'top' %>

<% stepresults = @results.select {|r| r.simulation_id == @sim_id and r.step == @step} %>
<% maxsteps = (@results.map {|r| r.step}).max %>

<div id="results">
<h3>Details for Step <%= @step %> duration <%= stepresults[0].step_time.round(2) %> hrs ----
	<% if @step == 1 then %>
		<%= link_to "Prev", step_detail_result_path(:id => @sim_id, :step => maxsteps) %>
	<% else %>
		<%= link_to "Prev", step_detail_result_path(:id => @sim_id, :step => @step-1) %>
	<% end %>
	<%= " | " %>
	<% if @step == maxsteps %>
		 <%= link_to "Next", step_detail_result_path(:id => @sim_id, :step => 1) %>
	<% else %>
		<%= link_to "Next", step_detail_result_path(:id => @sim_id, :step => @step+1) %>
	<% end %>
</h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
      <th>Station</th>
	  <th>Kmp</th>
	  <th>Flowrate<br>(m3/hr)</th>
	  <th>Pumped<br>Volume (m3)</th>
	  <th>Upstream<br>Batch</th>
	  <th>Downstream<br> Batch</th>
	  <th>Holding<br>(kpa)</th>
	  <th>Suction<br>(kpa)</th>
	  <th>Head<br>(kpa)</th>
	  <th>Case<br>(kpa)</th>
	  <th>Discharge<br>(kpa)</th>
	  <th>HHP<br>(KW)</th>
    </tr>
  </thead>

  <tbody>
	<% stepresults.each do | i | %>
      <tr>
		<td><%= i.stat %></td>
        <td><%= '%.2f'% i.kmp %></td>
		<td><%= '%8.1f'% i.flow %></td>
		<td><%= number_with_precision(i.pumped_volume, :precision => 1, :delimiter => ',') %></td>
		<td><%= i.upstream_batch %></td>
		<td><%= i.downstream_batch %></td>
		<td><%= '%.1f'% i.hold %></td>
		<td><%= '%.1f'% i.suct %></td>
        <td><%= '%.1f'% i.head %></td>
        <td><%= '%.1f'% i.casep %></td>
        <td><%= '%.1f'% i.disc %></td>
		<td><%= '%.1f'% i.hhp %></td>
      </tr>
	<% end %>
  </tbody>
</table>
<br>
</div>
