<%= render 'top' %>

<div id="results">
<h3>Flow Rates (m3/hr)</h3>
<table class="table table-bordered table-hover table-condensed">
  <tbody>
	  <% stn_ix = 0 %>
	  <% num_stations = @stations.count %>
	  <% num_steprecs = @results.count %>
	  <tr>
	    <td>Step</td>
	    <td>Timestamp</td>
	    <td>Duration</td>
	    <% while stn_ix <= num_stations - 1 %>
		  <% stat = (@results.find {|r| r.step == 1 and r.station_id == @stations[stn_ix]}).stat %>
	      <td> <%= link_to stat, station_detail_result_path(:id => @sim_id, :station_id => @stations[stn_ix]) %> </td>
		  <% stn_ix = stn_ix + 1 %>
		<% end %>
	  </tr>
	  <% steprec = 0 %>
	  <% while steprec <= num_steprecs - 1 %>
	    <% stn_ix = 0 %>
		<tr>
		  <% step = @results[steprec].step %>
		  <td><%= link_to step.to_s, step_detail_result_path(:id => @sim_id, :step => step) %></td>
		  <td><%= @results[steprec].timestamp.strftime("%d-%m-%Y %H:%M") %></td>
		  <td><%= @results[steprec].step_time.round(2) %> hrs</td>
	      <% while stn_ix < num_stations %>
		    <td><%= '%8.1f'% @results[steprec].flow %></td>
		    <% stn_ix = stn_ix + 1 %>
			<% steprec = steprec + 1 %>
	      <% end %>
	    </tr>
      <% end %>
  </tbody>
</table>
</div>
