<%= render 'top' %>

<% @pipeline = Pipeline.find {|p| p.id == @simulation.pipeline_id} %>
<% @nomination = Nomination.find {|n| n.name == @simulation.nomination_id} %>

<div id="results">
<h3>Simulation Average Summary Results - total time: <%= (($timestamp - $initial_timestamp)/3600.0).round(2).to_s %> hours</h3>
<table class="table table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<% punit = @simulation.pres_unit%>
			<th>Station</th>
			<th><%= @simulation.dist_unit%>post</th>
			<th>Flowrate<br>(<%= @simulation.flow_unit%>)</th>
			<th>Pumped<br>Volume (<%= @simulation.vol_unit%>)</th>
			<th>Holding<br>Pressure (<%=punit%>)</th>
			<th>Suction<br>Pressure (<%=punit%>)</th>
			<th>Head<br>Pressure (<%=punit%>)</th>
			<th>Case<br>Pressure (<%=punit%>)</th>
			<th>Discharge<br>Pressure (<%=punit%>)</th>
			<th>Bottleneck<br>Percent (%)</th>
			<th>Energy<br>(<%= @simulation.energy_unit%>)</th>
		</tr>
	</thead>
	
	<tbody>
		<% @summary_results.each do |s| %>
		    <% station_id = s.station_id %>
		    <% station = Station.find {|i| i.id == station_id} %>
			<tr>
				<td><%= link_to s.stat, station_detail_result_path(:id => @sim_id, :station_id => s.station_id) %></td>
				<% dist = @simulation.convert_from_si(station.kmp, @simulation.dist_unit)%>
				<% flow = @simulation.convert_from_si(s.flow, @simulation.flow_unit)%>
				<% pumped_vol = @simulation.convert_from_si(s.pumped_volume, @simulation.vol_unit)%>
				<% hold = @simulation.convert_from_si(s.hold, punit)%>
				<% suct = @simulation.convert_from_si(s.suct, punit)%>
				<% head = @simulation.convert_from_si(s.head, punit)%>
				<% casep = @simulation.convert_from_si(s.casep, punit)%>
				<% disc = @simulation.convert_from_si(s.disc, punit)%>
				<% energy = @simulation.convert_from_si(s.kwh, @simulation.energy_unit)%>
				<td><%= '%8.2f'% dist %></td>
				<td><%= number_with_precision(flow, :precision => 1, :delimiter => ',') %></td>
				<td><%= number_with_precision(pumped_vol, :precision => 0, :delimiter => ',') %></td>
				<td><%= '%.1f'% hold %></td>
				<td><%= '%.1f'% suct %></td>
				<td><%= '%.1f'% head %></td>
				<td><%= '%.1f'% casep %></td>
				<td><%= '%.1f'% disc %></td>
				<td><%= '%-8.1f'% s.bottleneck_pct.round(2) %></td>
				<td><%= number_with_precision(energy, :precision => 0, :delimiter => ',') %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

<% session.delete :return_to %>
<% session[:return_to] ||= request.path %>
