<p id="notice"><%= notice %></p>
<%= render 'show_one' %>
<nav class="navbar navbar-default small">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Edit Pipeline', edit_pipeline_path(@pipeline) %> </li>
		<li><%= link_to 'Delete', pipeline_path(@pipeline.id), method: :delete, data: { confirm: 'Are you sure you want to delete this pipeline?' } %> </li>
		<li><%= link_to 'Copy', copy_pipeline_path(@pipeline.id), data: {confirm: 'Are you sure you want to make a copy of this pipeline?' } %> </li>
		<li><%= link_to 'Back', pipelines_path %></li>
	</ul>
  </div>
</nav>
<%= render 'stations/index' %>
<%= render 'segments/index' %>
<%= render 'elevations/index' %>
<%= render 'temperatures/index' %>

