<h3>Segments</h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <th>Distance (kmp)</th>
      <th>Diameter (meters)</th>
	  <th>Thickness (meters)</th>
      <th>Roughness (meters)</th>
	  <th>MAWP (kpa)</th>
	  <th>Pipe Volume (m3)</th>
    </tr>
  </thead>

  <tbody>
	<% prev_kmp = 0 %>
	<% prev_diam = 0 %>
	<% prev_thickness = 0 %>
	<% prev_vol = 0 %>
	<% @pipeline.segments.order(kmp: :asc).each_with_index do |segment, ix| %>
      <tr>
		<td><%= link_to segment.kmp, pipeline_segment_path(segment.pipeline_id, segment.id) %></td>
        <td><%= segment.diameter %></td>
        <td><%= segment.thickness %></td>
        <td><%= '%12.10f' % segment.roughness %></td>
        <td><%= segment.mawp %></td>
		<% if ix == 0 then %>
			<% volume = 0.0 %>
		<% else %>
			<% diam = prev_diam - 2*prev_thickness %>
			<% volume = 1000* (segment.kmp - prev_kmp) * Math::PI * (diam/2)**2  + prev_vol %>
		<% end %>
		<td><%= volume.round(2) %></td>
		<% prev_kmp = segment.kmp %>
		<% prev_diam = segment.diameter %>
		<% prev_thickness = segment.thickness %>
		<% prev_vol = volume %>
      </tr>
	<% end %>
	<td colspan="6"><%= link_to 'Add Segment', new_pipeline_segment_path(@pipeline) %></td>
  </tbody>
</table>
