<title>Lineloss Program.  Free of charge and available to anyone wanting to calculate pressure losses in a pipeline.</title>
<meta name="description" content="A pipeline pressure loss program using the Colebrook-White formula." CONTENT="Developer: Warren Shockey, Phastware Consulting Company December 2017.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
	<h1 class="col-sm-12">Pipeline Pressure Loss Calculator</h1>
	<p>This program calculates the dynamic pressure loss in a pipe due to turbulence and internal friction.  The Colebrook-White and Darcy-Weisbach formulas are used to compute the result given the essential characteristics of the pipe and fluid.
		The result is in the form of a pressure over the distance value specified.  Hovering the mouse over each field label will show the typical value ranges for each input field.  The user can select which ever units for each input field they are familiar with.  A running log is kept at the bottom to show the calculations performed in each session.</p>

	<div class="form-group">

		<div class="row">
		   <label class="col-sm-2" for="flowrate" data-toggle="tooltip" title="Typical flowrate values range
		    anywhere from 0 to over 6000 m3/hr">Flowrate<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="flowrate">
		   <div class="col-sm-1">
		   		<select id="flowUnits" name="flowUnits" tabindex="-1">
					<option selected="selected" value="m3/hr" name="flowUnits" tabindex="-1">m3/hr</option>
					<option value="m3/day" name="flowUnits" tabindex="-1">m3/day</option>
					<option value="bbls/day" name="flowUnits" tabindex="-1">bbls/day</option>
					<option value="bbls/hr" name="flowUnits" tabindex="-1">bbls/hr</option>
				</select>
		   </div>
		   <div class="col-sm-7"></div>
		</div>
		<div class="col-xs-12" style="height:10px;"></div>

		<div class="row">
		   <label class="col-sm-2" for="viscosity" data-toggle="tooltip" title="Typical kinematic viscosities range from
		    0.29 cst (mm**2/s) for gasoline and 1.0 cst for condensate 
		   up to about 300.0 cst for heavy crude">Fluid Viscosity<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="viscosity">
		   <div class="col-sm-1">
		   		<select id="viscUnits" name="viscUnits" tabindex="-1">
					<option selected="selected" value="cst" name="viscUnits" tabindex="-1">Centistokes (cst)</option>
					<option value="S" name="viscUnits" tabindex="-1">Stokes</option>
				</select>
		   </div>
		   <div class="col-sm-7"></div>
		</div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		 <div class="row">
		   <label class="col-sm-2" for="density" data-toggle="tooltip" title="Typical densities range from about 550 kg/m3 for NGL up 
		   to over 900.0 kg/m3 for heavy crude">Fluid Density<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="density">
		   <div class="col-sm-1">
		   		<select id="densUnits" name="densUnits" tabindex="-1">
					<option selected="selected" value="kg/m3" name="densUnits" tabindex="-1">kg/m3</option>
					<option value="APIgrav" name="densUnits" tabindex="-1">deg API Gravity</option>
					<option value="SG" name="densUnits" tabindex="-1">Specific Gravity</option>
				</select>
		   </div>
		   <div class="col-sm-7"></div>
		 </div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		 <div class="row">
		   <label class="col-sm-2" for="diameter" data-toggle="tooltip" title="Typical outside diameters range from about 10.29
		    millimeters (0.405 inch) up to about 1.829 meters (72 inch)">Pipe Diameter<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="diameter">
		   <div class="col-sm-1">
		   		<select id="diamUnits" name="diamUnits" tabindex="-1">
					<option selected="selected" value="meters" name="diamUnits" tabindex="-1">meters</option>
					<option value="millimeters" name="diamUnits" tabindex="-1">millimeters (mm)</option>
					<option value="inches" name="diamUnits" tabindex="-1">inches</option>
				</select>
			</div>
		   <div class="col-sm-7"></div>		   
		 </div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		 <div class="row">
		   <label class="col-sm-2" for="length" data-toggle="tooltip" title="Typical lengths range from about 0 to hundreds of km or miles">
			   Pipe Length<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="length">
		   <div class="col-sm-1">
		   		<select id="lengthUnits" name="lengthUnits" tabindex="-1">
					<option selected="selected" value="km" name="lengthUnits" tabindex="-1">kilometers (km)</option>
					<option value="miles" name="lengthUnits" tabindex="-1">miles</option>
				</select>
			</div>
		   <div class="col-sm-7"></div>		   
		 </div>
		<div class="col-xs-12" style="height:10px;"></div>

		 <div class="row">
		   <label class="col-sm-2" for="thickness" data-toggle="tooltip" title="Typical pipe wall thicknesses range from
		    about 1.24 mm to 59.54 mm">Pipe Wall Thickness<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="thickness">
		   <div class="col-sm-1">
		   		<select id="thickUnits" name="thickUnits" tabindex="-1">
					<option selected="selected" value="millimeters" name="thickUnits" tabindex="-1">millimeters (mm)</option>
					<option value="meters" name="thickUnits" tabindex="-1">meters</option>
					<option value="inches" name="thickUnits" tabindex="-1">inches</option>
				</select>
			</div>
		   <div class="col-sm-7"></div>
		 </div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		 <div class="row">
		   <label class="col-sm-2" for="roughness" data-toggle="tooltip" title="Typical pipe roughness values range from 0.0015 mm for
		    plastic pipe up to about 0.045 mm for commercial welded steel and 0.26 mm for cast iron pipe">Pipe Roughness<%= image_tag "information_icon16.png"%></label>
		   <input class="col-sm-2" type="text" class="form-control" id="roughness">
		   <div class="col-sm-1">
		   		<select id="ruffUnits" name=" ruffUnits" tabindex="-1">
					<option selected="selected" value="millimeters" name="ruffUnits" tabindex="-1">millimeters (mm)</option>
					<option value="meters" name="ruffUnits" tabindex="-1">meters</option>
					<option value="inches" name="ruffUnits" tabindex="-1">inches</option>
				</select>
			</div>
		   <div class="col-sm-7"></div>
		 </div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		<div class="row">
			<label class="col-sm-2 text-success" for="result" data-toggle="tooltip" title="The result is the total pressure loss over the length of the pipe either in
			 kpa (kilopascals) or psi (lbs per square inch)">Pressure Loss Result<%= image_tag "information_icon16.png"%></label>
			<div class="well col-sm-2" type="text"><output id="result"></output></div>
			<div class="col-sm-1">
		   		<select id="resultUnits" name="resultUnits" tabindex="-1">
					<option selected="selected" value="kpa" name="resultUnits" tabindex="-1">kpa</option>
					<option value="psi" name="resultUnits" tabindex="-1">psi</option>
				</select>
			</div>
		    <div class="col-sm-7"></div>
	   </div>
		<div class="col-xs-12" style="height:10px;"></div>

		<div class="row">
			<button type="button" class="btn btn-primary btn-md col-sm-2" id="calculate">Calculate</button><div class="col-sm-10"></div>
		</div>
		<div class="col-xs-12" style="height:10px;"></div>
		
		<div class="row">
			<div id="calc_required_message" class="col-sm-12 alert-warning hidden"> A re-calculation is required.</div>
			<pre type="text" class="col-sm-12 alert-danger hidden" id="error_message"></pre>
		</div>
		<div class="col-xs-12" style="height:10px;"></div>

	</div>
	
	<div class="row">
		<h4 class="col-sm-5" data-toggle="tooltip" title="Log of results calculated so far in this session.  Input values are shown along with output values for Reynolds number, friction factor and the amount of pressure loss over the specified length of the pipe.">Session Calculation Log<%= image_tag "information_icon16.png"%></h4>
		<span class="col-sm-7"></span>
		<pre type="text" class="col-sm-12" id="logpanel"></pre>
	</div>
		
</div>


<script>	
// Enable pop-overs
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});

// Declare the calculation log string.
		var calclog = "";
		var calccount = 0; 
		
// Conversion factors
//	{US to metric}
	  const m3dy_m3hr = 0.04166666;       //{conversion from m3/dy to m3/hr}
	  const blhr_m3hr = 0.15898251;       //{conversion from bl/hr to m3/hr}
	  const bldy_m3hr = 0.00662427;       //{conversion from bl/dy to m3/hr}
	  const gpm_m3hr = 0.2271253;         //{conversion from gpm   to m3/hr}
	  const bl_m3 = 0.15898251;       	  //{conversion from bl to m3}
	  const psig_kpa = 6.8944;           //{conversion from psig to kpa}
	  const miles_km = 1.60934;          //{conversion from miles to km}
	  const in_m = 0.0254;           	//{conversion from in to m}
	  const ft_m = 0.3048;           	//{conversion from ft to m}
	  const S_cst = 100;				//{conversion from stokes to centistokes}
//	{metric to US}
	  const m3hr_m3dy = 24.0;             //{conversion from m3/hr to m3/dy}
	  const m3hr_blhr = 6.29;             //{conversion from m3/hr to bl/hr}
	  const m3hr_bldy = 150.960030;       //{conversion from m3/hr to bl/dy}
	  const m3hr_gpm = 4.40285604;       //{conversion from m3/hr to gpm}
	  const m3_bl = 6.29;             	  //{conversion from m3 to bl}
	  const kpa_psig = 0.14504525;       //{conversion from kpa to psig}
	  const km_miles = 0.62137274;       //{conversion from km to miles}
	  const m_in = 39.3700787;       	//{conversion from m to in}
	  const m_ft = 3.28083989;       	//{conversion from m to ft}
	  const cst_S = 0.01;				//{conversion from cst to Stokes}
//   {metric to metric}
	  const mm_m = 0.001;				//{conversion from millimeters to meters}

// If any changes have been made to the form and there is a previous value in the result, warn the user they should do a re-calculation
	  $('#flowrate, #viscosity, #density, #diameter, #length, #thickness, #roughness').on("change", function(){
		  $("#error_message").addClass("hidden");
		  var res = $("#result").val();
	      if ((res == "") || (res == "NaN")) {
			  $("#calc_required_message").addClass("hidden");			 
	      }
		  else {
			  $("#calc_required_message").removeClass("hidden"); 
		  };
	  })

	  $("select[name$='Units']").on("change", function() {
		  $("#error_message").addClass("hidden");
		  var res = $("#result").val();
	      if ((res == "") || (res == "NaN")) {
			  $("#calc_required_message").addClass("hidden");			 
	      }
		  else {
			  $("#calc_required_message").removeClass("hidden"); 
		  };	  	
	  }) 	

//  Perform immediate validations on the input fields.
	  $("#flowrate").on("change", function(){
		  val = $("#flowrate").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("flowrate is invalid");
		  };
	  })
	  $("#viscosity").on("change", function(){
		  val = $("#viscosity").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("viscosity is invalid");
		  };
	  })
	  $("#density").on("change", function(){
		  val = $("#density").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("density is invalid");
		  };
	  })
	  $("#diameter").on("change", function(){
		  val = $("#diameter").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("diameter is invalid");
		  };
	  })
	  $("#length").on("change", function(){
		  val = $("#length").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("length is invalid");
		  };
	  })
	  $("#thickness").on("change", function(){
		  val = $("#thickness").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("wall thickness is invalid");
		  };
	  })
	  $("#roughness").on("change", function(){
		  val = $("#roughness").val();
		  if ((val < 0) || (isNaN(val))) {
			  alert("roughness is invalid");
		  };
	  })

//  Run the lineloss calculation routine when user clicks the Calculate button.
    $('#calculate').click(function(){
		
		var errors = "";

    	var flow = 0.0;
		var flowval = parseFloat($("#flowrate").val());
		var units = $("#flowUnits option:selected").val();
		if (units == "m3/day"){flow = flowval * m3dy_m3hr}
		else if (units == "bbls/day"){flow = flowval * bldy_m3hr}
		else if (units == "bbls/hr"){flow = flowval * blhr_m3hr}
		else {flow = flowval};
		if ((flow < 0) || (flow > 100000) || (isNaN(flow))){
			errors = errors + 'Flowrate is invalid or unreasonable.\n'
		}

    	var visc = 0.0;
		var viscval = parseFloat($("#viscosity").val());
		var units = $("#viscUnits option:selected").val();
		if (units == "S"){visc = viscval * S_cst}
		else {visc = viscval};	
		if ((visc < 0) || (visc > 1000) || (isNaN(visc))){
			errors = errors + 'Viscosity is invalid or unreasonable.\n'
		}	

		var dens = 0.0;
		var densval = parseFloat($("#density").val());
		var units = $("#densUnits option:selected").val();
		if (units == "APIgrav"){dens = conv_apigrav(densval)}
		else if (units == "SG"){dens = conv_specgrav(densval)}
		else {dens = densval};
		if((dens < 0 ) || (dens > 2000 ) || (isNaN(dens))){
			errors = errors + "Density is invalid or unreasonable.\n"
		}

		var diam = 0.0;
		var diamval = parseFloat($("#diameter").val());
		var units = $("#diamUnits option:selected").val();
		if (units == "inches") {diam = diamval * in_m}
		else if (units == "millimeters") {diam = diamval * mm_m}
		else {diam = diamval};
		if ((diam < 0.01) || (diam > 6) || (isNaN(diam))) {
			errors = errors + "Diameter is invalid or unreasonable.\n"
		}

		var len = 0.0;
		var lenval = parseFloat($("#length").val());
		var units = $("#lengthUnits option:selected").val();
		if (units == "miles") {len = lenval * miles_km}
		else {len = lenval};
		if ((len < 0) || (isNaN(diam))) {
			errors = errors + "Length is invalid or unreasonable.\n"
		}
		
		var thick = 0.0;
		var thickval = parseFloat($("#thickness").val());
		var units = $("#thickUnits option:selected").val();
		if (units == "inches") {thick = thickval * in_m}
		else if (units == "millimeters") {thick = thickval * mm_m}
		else {thick = thickval};
		if((thick < 0) || (thick > 0.1) || (isNaN(thick))) {
			errors = errors + "Wall thickness is invalid or unreasonable.\n"
		}
		
		var ruff = 0.0;
		var ruffval = parseFloat($("#roughness").val());
		var units = $("#ruffUnits option:selected").val();
		if (units == "inches") {ruff = ruffval * in_m}
		else if (units == "millimeters") {ruff = ruffval * mm_m}
		else {ruff = ruffval};
		if ((ruff < 0) || (ruff > 0.01) || (isNaN(ruff))) {
			errors = errors + "Roughness is invalid or unreasonable.\n"
		}

		if (errors.length > 0) {
			$("#error_message").text(errors);
			$("#error_message").removeClass("hidden");
		}
		else {
	        var resultarray = cole_loss(flow, visc, dens, diam, thick, ruff);
			var resultval = resultarray[0];
			var reynl = resultarray[1];
			var frict = resultarray[2];
			var units = $("#resultUnits option:selected").val();
			if (units == "psi") {result = resultval * len * kpa_psig }
			else {
				result = resultval * len;
			};	
			$("#result").text(result.toFixed(2));
			$("#error_message").addClass("hidden");
			calccount = calccount + 1;
			var logline = "Calculation #"+calccount+" Flow:"+flowval+" Visc:"+viscval+" Dens:"+densval+" Diam:"+diamval+" Thick:"+thickval+" Roughness:"+ruffval+
			" Reynolds#:"+reynl.toFixed(2)+" FrictionFctr:"+frict.toFixed(4)+" Result: "+result.toFixed(2)+" "+units+"\n";
			calclog = calclog + logline;
			$("#logpanel").text(calclog);
		}
		
		$("#calc_required_message").addClass("hidden");

    })
	
// Colebrook-White lineloss formula
    function cole_loss(flow, visc, dens, diam, thick, ruff) {
		const error = 2.5e-5;
		const kreyn = 353.677499;
		const kdarc = 6.25439455e-8;
		diam = diam - 2*thick;
        var reynl = kreyn*flow/(diam*visc);
        if (reynl>4000.0) {
			var tcons = ruff/diam/3.7;
			var estim = 1/(-2*Math.log10(tcons + 5.74/(reynl**0.9)));
			var diff = 10000.0;
            while (diff > error) {
				temp = 1/(-2*Math.log10(tcons + 2.51/reynl/estim));
				diff = Math.abs(estim-temp);
				estim = temp;
			};
			var frict = temp**2;
		}        
		else if (reynl>2500.0) {frict = 0.364/(reynl**0.265)}
        else if ((reynl>2000) && (reynl<=2500)) {frict = (reynl**1.596)/5700000.0}
        else if ((reynl>0.01) && (reynl<=2000)) {frict = 64.0/reynl}
        else if (reynl<=0.01) {frict = 10000.0}
		var loss = kdarc*dens*frict*flow**2/(diam**5);
        return [loss, reynl, frict];
	}	

	function conv_apigrav(densval){
		var SG = 141.5 / (densval + 131.5);
		return SG * 1000.0;
	}
	
	function conv_specgrav(densval) {
		var dens = densval * 1000;
		return dens;
	}
	
	
</script>

