<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130202276-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130202276-2');
</script>


<title>Phastline Pipeline Hydraulics Simulation Program from Phastware Consulting Ltd. based in Calgary, Alberta, Canada.  It is free of charge and available to anyone interested in learning more about how a pipeline is constructed and operated.  This is a pipeline simulation and modeling application that provides reports of a pipeline's operational capacity, operating pressures, flowrates and power usage.  It uses industry standard formulas for calculating pipeline pressure loss, temperature variations in viscosity and density of fluids and both parallel and series combinations of pump curves.'</title>
<meta name="description" content="A batched pipeline hydraulics simulation application available to the general public free of charge.  This application models the operation of a pipeline by accepting a user specified pipeline configuration with pipe segments, stations with pumps and a set of nominations specifying the volume and types of products desired to be pumped through the line.  It will calculate pressures, capacity flowrates, bottlenecks and power usage at all significant times steps during the simulation.  Developer: Warren Shockey, Phastware Consulting Company February 2019.  Calgary, Alberta, Canada">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
	<h1>Welcome to phastware.com</h1>

	<div class="col-sm-12"><p>Phastware is a Calgary based company that provides IT consulting and website development expertise to Canadian organizations who need to rapidly establish and/or maintain an online presence within their community.  We specialize in rapidly developing robust online web based solutions allowing businesses to communicate and carry out transactions with their customer/client base.</p></div>
	
	<div class="col-sm-12"><p><strong>UPDATE (MAR 21, 2020) With the global corona virus pandemic currently threatening our way of life, Phastware is offering to provide its service free of charge to any small business in the essential service sector or any volunteer organization assisting in the efforts to help people in this time of need.  If you need assistance in this regard, please contact me directly at at the email address or phone number listed below.</strong></p></div>
		
	<div class="col-sm-12"><p>Phastware also provides a suite of pipeline hydraulics simulation and modelling software tools for pipeline operators, engineers or analysts.  The Phastline application is one of the products that is available to the general public free of charge so if interested, use the "Sign-Up" link provided below to register for an account.  Please get in touch with me at <%= mail_to "wmshockey@gmail.com" %> or on my cell at <strong>403-589-4977</strong> for any feedback, questions or if you require support on how to use the application. I am based in Calgary, Alberta, Canada. Thank-you.</p></div>

	<h4 class="col-sm-12"><%= link_to 'Sign-In', user_session_path %> to run the Phastline application if you already have an account</h4>
	<h4 class="col-sm-12"><%= link_to 'Sign-Up', new_user_registration_path %> to request a user account</h4>
	<h4 class="col-sm-12">View the Phastline <%= link_to 'documentation', "/pages/help" %> to see what this program does and how to run it</h4>
	<h4 class="col-sm-12">Run the <%= link_to 'Lineloss Calculator', "/pages/calculator"%> program</h4>
	<br>
	<br>
	
	<%= image_tag "pipeline-in-winter.jpg", alt: "Pipeline View"%>

</div>