<h2 class="col-sm-4", data-toggle="tooltip" title="A commodity specification consists of details on the physical properties of the commodity such as density, viscosity and vapor pressure.">Commodities  <%= image_tag "commodity-icon.png"%></h2>
<h2 class="col-sm-8 text-right"><%= link_to 'Add Commodity', new_commodity_path, class: 'btn btn-success' %></h2>
<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <% if current_user.admin? then %>
		<th>User</th>
	  <% end %>
	  <th>ID</th>
      <th>Name</th>
	  <th>Temperature point 1 (deg C)</th>
      <th>Viscosity point 1 (cst)</th>
	  <th>Temperature point 2 (deg C)</th>
	  <th>Viscosity point 2 (cst)</th>
	  <th>Density (kg/m3)</th>
	  <th>Density Temp Conv Factor</th>
	  <th>Vapor Pressure (kpa)</th>
    </tr>
  </thead>

  <tbody>
	<% @commodities.order(commodity_id: :asc).each do |commodity| %>
	    <% if !commodity.errors.any? %>
	      <tr>
			<% if current_user.admin? then %>
				<td><%= (User.find {|u| u.id == commodity.user_id}).email %></td>
				<td><%= link_to commodity.commodity_id, @commodities.find {|c| c.commodity_id == commodity.commodity_id and c.user_id == commodity.user_id} %></td>
			<% else %>
				<td><%= link_to commodity.commodity_id, commodity_path(commodity) %></td>
			<% end %>
	        <td><%= commodity.commodity_name %></td>
	        <td><%= commodity.temp1 %></td>
	        <td><%= commodity.visc1 %></td>
	        <td><%= commodity.temp2 %></td>
	        <td><%= commodity.visc2 %></td>
	        <td><%= commodity.density %></td>
	        <td><%= commodity.density_cf %></td>
	        <td><%= commodity.vapor %></td>
	      </tr>
		<% end %>
	<% end %>
  </tbody>
</table>
