<div class="col-sm-4"></div>
<div class="col-sm-8">
<h4>Pump Unit  <%= image_tag("pump-unit-icon.png") %></h4>
<%= form_for([@pipeline, @station, @unit]) do |f| %>
	<p>
	<% if @unit.errors.any? %>
	  <div id="error_explanation", class="alert alert-danger">
	    <%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:

	    <ul>
	    <% @unit.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	</p>

	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
		  <th>Row</th>
	      <th>Column</th>
		  <th>Pump ID</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
			<td><%= f.number_field :unit_row,  :step => 1 %></td>
	        <td><%= f.number_field :unit_column, :step => 1 %></td>
			<td><%= f.select :pump_id, current_user.pumps.all.collect {|p| [p.pump_id]} %></td>
	      </tr>
	  </tbody>
	</table>
<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
</div>

