<%= render 'pipelines/show_one' %>
<%= render 'stations/show_one' %>

<div class="col-sm-4"></div>
<div class="col-sm-8">
<h4>Pump Unit  <%= image_tag("pump-unit-icon.png") %></h4>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Row</th>
      <th>Column</th>
	  <th>Pump ID</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @unit.unit_row %></td>
        <td><%= @unit.unit_column %></td>
		<td><%= @unit.pump_id %></td>
      </tr>
  </tbody>
</table>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Edit Pump Unit', edit_pipeline_station_unit_path(@pipeline, @station, @unit) %> </li>
		<li><%= link_to 'Delete', pipeline_station_unit_path(@pipeline, @station, @unit), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
		<li><%= link_to 'Back', pipeline_station_path(@pipeline, @station) %> </li>
	</ul>
  </div>
</nav>
</div>
