<h2>Nomination  <%= image_tag("nomination-icon.png") %></h2>

<%= form_for(@nomination) do |f| %>

<p>
  <% if @nomination.errors.any? %>
    <div id="error_explanation", class="alert alert-danger">
      <%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:
      <ul>
      <% @nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</p>

	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
	      <th>Nomination</th>
		  <th></th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
	          <td><strong>Name: </strong></td><td><%= f.text_field :name %></td>
		  </tr>
		  <tr>
			  <td><strong>Description: </strong></td><td><%= f.text_field :description, :size=>"120" %></td>
		  </tr>
		  <tr>
			<td><strong>Pipeline: </strong></td><td><%= f.select :pipeline_id, current_user.pipelines.all.collect {|p| [p.name, p.id]} %></td>
		  </tr>
		  <tr>
			<td><strong>Nomination Date: </strong></td><td><%= f.date_select :nom_date %></td>
		  </tr>
		  <tr>
			<td><strong>Period (days): </strong></td><td><%= f.text_field :period %></td>
		  </tr>
	  </tbody>
	</table>

<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>


<% end %>
