<h2>Nomination  <%= image_tag("nomination-icon.png") %></h2>

<%= form_for(@nomination) do |f| %>

<p>
  <% if @nomination.errors.any? %>
    <div id="error_explanation", class="bg-danger">
      <%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:
      <ul>
      <% @nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</p>

	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
	      <th>Nomination Name</th>
		  <th>Description</th>
		  <th>Pipeline</th>
		  <th>Nomination Date</th>
		  <th>Period (days)</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
	        <td><%= f.text_field :name %></td>
	        <td><%= f.text_field :description %></td>
			<td><%= f.select :pipeline_id, current_user.pipelines.all.collect {|p| [p.name, p.id]} %></td>
			<td><%= f.date_select :nom_date %>
			<td><%= f.text_field :period %>
	      </tr>
	  </tbody>
	</table>

<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>


<% end %>
