<h2>Nominations</h2>
<table>
  <thead>
   <tr>
      <th>Name</th>
	  <th>Description</th>
	  <th>Pipeline</th>
	  <th>Nomination Date</th>
	  <th>Period (days)</th>
    </tr>
  </thead>

  <tbody>
	<% @nominations.order(name: :asc).each do |nomination| %>
      <tr>
        <td><%= link_to nomination.name, nomination_path(nomination) %></td>
        <td><%= nomination.description %></td>
		<td><%= @pipelines.find {|p| p.id == nomination.pipeline_id}.name %></td>
		<td><%= nomination.nom_date %></td>
		<td><%= nomination.period %></td>
      </tr>
	<% end %>
	<td colspan="5"><%= link_to 'Add Nomination', new_nomination_path %></td>
  </tbody>
</table>
