<h2 class="col-sm-4", data-toggle="tooltip" title="A nomination specification consists of many shipments which are details of the commodity types and volumes of product needed to be shipped down the pipeline.">Nominations  <%= image_tag("nomination-icon.png") %></h2>
<h2 class="col-sm-8 text-right"><%= link_to 'Add Nomination', new_nomination_path, class: 'btn btn-success' %></h2>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <% if current_user.admin? then %>
		<th>User</th>
	  <% end %>
      <th>Name</th>
	  <th>Description</th>
	  <th>Pipeline</th>
	  <th>Nomination Date</th>
	  <th>Period (days)</th>
	  <th>Volume Unit</th>
    </tr>
  </thead>

  <% nominations_array = Array.new %>
  <% @nominations.each do |n| %>
    <% pipeline_id = n.pipeline_id %>
    <% user_id = Pipeline.find(pipeline_id).user_id %>
    <% nominations_array << [user_id, n] %>
  <% end %>
  <% nominations_array = nominations_array.sort_by {|x,y| [x, y.name] } %>

  <tbody>
	<% nominations_array.each do |e| %>
	  <% nomination = e[1] %>
	  <% if !nomination.errors.any? %>
	      <tr>
			<% if current_user.admin? then %>
				<% user_id = e[0] %>
				<% user_email = User.find(user_id).email %>
				<td><%= user_email %></td>
			<% end %>
	        <td><%= link_to nomination.name, nomination_path(nomination) %></td>
	        <td><%= nomination.description %></td>
			<td><%= @pipelines.find {|p| p.id == nomination.pipeline_id}.name %></td>
			<td><%= nomination.nom_date %></td>
			<td><%= nomination.period %></td>
			<td><%= nomination.vol_unit %></td>
	      </tr>
	  <% end %>
	<% end %>
  </tbody>
</table>

