<h2>Nomination</h2>
<table class="toedit">
  <thead>
    <tr>
      <th>Nomination Name</th>
	  <th>Description</th>
	  <th>Pipeline</th>
	  <th>Nomination Date</th>
	  <th>Period (days)</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @nomination.name %></td>
      <td><%= @nomination.description %></td>
	  <td><%= @pipeline.name %></td>
	  <td><%= @nomination.nom_date %></td>
	  <td><%= @nomination.period %></td>
    </tr>
  </tbody>
</table>