<h2>Activity</h2>
<%= form_for([@schedule, @activity]) do |f| %>

	<p>
	<% if @activity.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

	    <ul>
	    <% @activity.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	</p>

	<table>
	  <thead>
	    <tr>
	      <th>Batch</th>
	      <th>Start time</th>
	      <th>End time</th>
	      <th>Activity type</th>
	      <th>Volume</th>
	      <th>Source location</th>
	      <th>Destination location</th>
	      <th>Destination facility</th>
	      <th>Shipper</th>
	      <th>Nomination</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
			<td><%= f.text_field :batch_id %></td>
			<td><%= f.text_field :start_time %></td>
			<td><%= f.text_field :end_time %></td>
			<td><%= f.select :activity_type, ["EVEN", "INJECTION", "RECEIPT", "LANDING", "DELIVERY"] %></td>
			<td><%= f.number_field :volume, :step => "any" %></td>
			<td><%= f.text_field :source_location %></td>
			<td><%= f.text_field :destination_location %></td>
			<td><%= f.text_field :destination_facility %></td>
			<td><%= f.text_field :shipper %></td>
			<td><%= f.select :nomination_name, Nomination.all.collect {|n| [n.name]} %></td>
	      </tr>
	  </tbody>
	</table>
	
<div class="actions">
   <%= f.submit %>
</div>
<% end %>
