<h2>Activities</h2>
<table>
  <thead>
   <tr>
      <th>Batch</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Activity type</th>
      <th>Station</th>
      <th>Volume</th>
      <th>Shipper</th>
      <th>Nomination</th>
    </tr>
  </thead>

  <% @pipeline = current_user.pipelines.find {|p| p.id == @schedule.pipeline_id} %>
  <% if @pipeline.nil? then %>
	<strong><%= "Warning: cannot find pipeline with id: #{@schedule.pipeline_id.to_s}" %></strong>
  <% else %>
  	  <% @stations = @pipeline.stations %>
	  <tbody>
		<% @stations.each do |s| %>
			<% @schedule.activities.select {|a| a.station == s.name}.each do |activity| %>
		      <% if !activity.errors.any? %>
			      <tr>
			        <td><%= link_to activity.batch_id, schedule_activity_path(activity.schedule_id, activity.id) %></td>
					<% if activity.start_time.nil? then %>
					  <td></td>
					<% else %>
			          <td><%= activity.start_time.strftime("%Y-%m-%d %H:%M") %></td>
					<% end %>
					<% if activity.end_time.nil? then %>
					  <td></td>
					<% else %>
			          <td><%= activity.end_time.strftime("%Y-%m-%d %H:%M") %></td>
					<% end %>
			        <td><%= activity.activity_type %></td>
			        <td><%= activity.station %></td>
			        <td><%= activity.volume %></td>
			        <td><%= activity.shipper %></td>
			        <td><%= link_to activity.nomination_name, current_user.nominations.find {|n| n.name == activity.nomination_name} %></td>
			      </tr>
			    <% end %>
			<% end %>
		<% end %>
		<td colspan="10"><%= link_to 'Add Activity', new_schedule_activity_path(@schedule) %></td>
	  </tbody>
	<% end %>
</table>
