<p id="notice"><%= notice %></p>

<%= render 'schedules/show_one' %>
<br>
<%= render 'index' %>
<h2>Activity</h2>
<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Activity type</th>
      <th>Volume</th>
      <th>Source location</th>
      <th>Destination location</th>
      <th>Destination facility</th>
      <th>Shipper</th>
      <th>Nomination</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @activity.batch_id %></td>
        <td><%= @activity.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= @activity.end_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= @activity.activity_type %></td>
        <td><%= @activity.volume %></td>
        <td><%= @activity.source_location %></td>
        <td><%= @activity.destination_location %></td>
        <td><%= @activity.destination_facility %></td>
        <td><%= @activity.shipper %></td>
		<td><%= link_to @activity.nomination_name, Nomination.find {|n| n.name == @activity.nomination_name} %></td>
        
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_schedule_activity_path(@activity.schedule_id, @activity.id) %> |
<%= link_to 'Delete', schedule_activity_path(@activity.schedule_id, @activity.id), method: :delete, data: { confirm: 'Are you sure you want to delete this activity?' } %> |
<%= link_to 'Back', schedule_path(@schedule) %>
