<h2>Shipment</h2>
<%= form_for([@nomination, @shipment]) do |f| %>

	<p>
	<% if @shipment.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

	    <ul>
	    <% @shipment.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	</p>

	<table>
	  <thead>
	    <tr>
		  <th>Start Location</th>
	      <th>End Location</th>
	      <th>Shipper</th>
	      <th>Commodity ID</th>
	      <th>Volume</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
			<td><%= f.select :start_location, @stations.all.collect {|s| [s.name]} %></td>
			<td><%= f.select :end_location, @stations.all.collect {|s| [s.name]} %></td>
			<td><%= f.text_field :shipper %></td>
			<td><%= f.select :commodity_id, current_user.commodities.all.collect {|c| [c.commodity_id]} %></td>
			<td><%= f.number_field :volume,  :step => "any"  %></td>
	      </tr>
	  </tbody>
	</table>
	
<div class="actions">
   <%= f.submit %>
</div>
<% end %>

