<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3>Shipment  <%= image_tag("shipment-icon.png") %></h3>
<%= form_for([@nomination, @shipment]) do |f| %>

	<p>
	<% if @shipment.errors.any? %>
	  <div id="error_explanation", class="alert alert-danger">
	    <%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:

	    <ul>
	    <% @shipment.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	</p>

	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
		  <th>Start Location</th>
	      <th>End Location</th>
	      <th>Shipper</th>
	      <th>Commodity ID</th>
	      <th>Volume</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
			<td><%= f.select :start_location, @stations.all.collect {|s| [s.name]} %></td>
			<td><%= f.select :end_location, @stations.all.collect {|s| [s.name]} %></td>
			<td><%= f.text_field :shipper %></td>
			<td><%= f.select :commodity_id, current_user.commodities.all.collect {|c| [c.commodity_id]} %></td>
			<td><%= f.number_field :volume,  :step => "any"  %></td>
	      </tr>
	  </tbody>
	</table>
	
<%= f.submit :Submit, class: 'btn btn-success' %>
<%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
</div>

