<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3 class="col-sm-4">Shipments  <%= image_tag("shipment-icon.png") %></h3>
<h3 class="col-sm-8 text-right"><%= link_to 'Add Shipment', new_nomination_shipment_path(@nomination), class: 'btn btn-success' %></h3>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr>
	  <th>Start Location</th>
      <th>End Location</th>
      <th>Shipper</th>
      <th>Commodity ID</th>
      <th>Volume (<%= @nomination.vol_unit %>)</th>
    </tr>
  </thead>

  <tbody>
	<% @nomination.shipments.order(start_location: :asc).each do |shipment| %>
	  <% if !shipment.errors.any? %>
	      <tr>
			<td><%= link_to shipment.start_location, nomination_shipment_path(shipment.nomination_id, shipment.id) %></td>
	        <td><%= shipment.end_location %></td>
			<td><%= shipment.shipper %></td>
			<td><%= link_to shipment.commodity_id, current_user.commodities.find {|c| c.commodity_id == shipment.commodity_id} %></td>
			<td><%= number_with_precision(shipment.volume, :precision => 1, :delimiter => ',') %> </td>
	      </tr>
	  <% end %>
	<% end %>
  </tbody>
</table>
</div>


