<%= render 'nominations/show_one' %>

<div class="col-sm-2"></div>
<div class="col-sm-10">
<h3>Shipment  <%= image_tag("shipment-icon.png") %></h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
	  <th>Start Location</th>
      <th>End Location</th>
      <th>Shipper</th>
      <th>Commodity ID</th>
      <th>Volume (<%= @nomination.vol_unit %>)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @shipment.start_location %></td>
		<td><%= @shipment.end_location %></td>
		<td><%= @shipment.shipper %></td>
		<td><%= @shipment.commodity_id %></td>
		<td><%= number_with_precision(@shipment.volume, :precision => 1, :delimiter => ',') %> </td>
      </tr>
  </tbody>
</table>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Edit Shipment', edit_nomination_shipment_path(@shipment.nomination_id, @shipment.id) %> </li>
		<li><%= link_to 'Delete', nomination_shipment_path(@shipment.nomination_id, @shipment.id), method: :delete, data: { confirm: 'Are you sure you want to delete this shipment?' } %> </li>
		<li><%= link_to 'Back', nomination_path(@nomination) %> </li>
	</ul>
  </div>
</nav>
</div>
