<h2>Pump</h2>
<%= form_for(@pump) do |f| %>
  <p>
  <% if @pump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pump.errors.count, "error") %> prohibited this pump from being saved:</h2>

      <ul>
      <% @pump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </p>
	<table>
	  <tbody>
			<tr><td><%= f.label "Pump ID" %></td><td><%= f.text_field :pump_id, :autofocus => true %></td></tr>
	        <tr><td><%= f.label "Description" %></td><td><%= f.text_field :description %></tr>
		    <tr><td><%= f.label "Flow units" %></td><td><%= f.select :flow_units, ["gallons/min", "m3/hr", "m3/day", "barrels/hr", "barrels/day"] %></td></tr>
			<tr><td><%= f.label "Head units" %></td><td><%= f.select :head_units, ["meters", "feet"] %></td></tr>
			<tr><td><%= f.label "Pressure units" %></td><td><%= f.select :pressure_units, ["kpa", "psi"] %></td></tr>
			<tr><td><%= f.label "Minimum suction" %></td><td><%= f.text_field :minimum_suction %></td></tr>
			<tr><td><%= f.label "Stages" %></td><td><%= f.number_field :stages %></td></tr>
			<tr><td><%= f.label "Impeller diameter" %></td><td><%= f.number_field :impeller_diameter,  :step => "any"  %></td></tr>
			<tr><td><%= f.label "Efficiency Correction Factor" %></td><td><%= f.number_field :efficiency_correction_factor, :step => "any" %></td></tr>
			<tr><td><%= f.label "Capacity Correction Factor" %></td><td> <%= f.number_field :capacity_correction_factor,  :step => "any"  %></td></tr>
			<tr><td><%= f.label "Head Correction Factor" %></td><td><%= f.number_field :head_correction_factor,  :step => "any"  %></td></tr>
	  </tbody>
	</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
