<h2>Pump  <%= image_tag "pump-icon.png"%></h2>
<table class="table table-bordered table-hover table-condensed">
	<thead>
    <tr>
	  <% if current_user.admin? then %>
		<th>User</th>
	  <% end %>
      <th>Pump</th>
      <th>Description</th>
      <th>Flow<br>units</th>
      <th>Head<br>units</th>
      <th>Pressure<br>units</th>
      <th>Minimum<br>suction</th>
      <th>Stages</th>
      <th>Impeller<br>diameter</th>
	  <th>Efficiency<br>Correction<br>Factor</th>
	  <th>Capacity<br>Correction<br>Factor</th>
	  <th>Head<br>Correction<br>Factor</th>
    </tr>
  </thead>
  <tbody>
		<% if current_user.admin? then %>
			<td><%= (User.find {|u| u.id == @pump.user_id}).email %></td>
		<% end %>
		<td><%= @pump.pump_id %></td>
        <td><%= @pump.description %></td>
	    <td><%= @pump.flow_units %></td>
		<td><%= @pump.head_units %></td>
		<td><%= @pump.pressure_units %></td>
		<td><%= @pump.minimum_suction %></td>
		<td><%= @pump.stages %></td>
		<td><%= @pump.impeller_diameter %></td>
		<td><%= @pump.efficiency_correction_factor %></td>
		<td><%= @pump.capacity_correction_factor %></td>
		<td><%= @pump.head_correction_factor %></td>
  </tbody>
</table>
