<p id="notice"><%= notice %></p>
<%= render 'show_one' %>

<%= link_to 'Edit Pump', edit_pump_path(@pump) %> |
<%= link_to 'Delete', @pump, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Copy', copy_pump_path(@pump.id), data: {confirm: 'Are you sure you want to make a copy of this pump?' } %> |
<%= link_to 'Back', pumps_path %>

<%= render 'headpoints/index' %>


