<%= render 'show_one' %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Edit Pump', edit_pump_path(@pump) %> </li>
		<li><%= link_to 'Delete', @pump, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
		<li><%= link_to 'Copy', copy_pump_path(@pump.id), data: {confirm: 'Are you sure you want to make a copy of this pump?' } %> </li>
		<li><%= link_to 'Back', pumps_path %> </li>
	</ul>
  </div>
</nav>
<%= render 'headpoints/index' %>


