<!DOCTYPE html>
<html>
<head>
  <title>Phastware Pipeline Hydraulics Application Software Tools </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
	<% if !success.nil? %>
	  <p class = "bg-success"><%= success %></p>
	<% end %>
	<% if !notice.nil? %>
	  <p class="bg-info"><%= notice %></p>
	<% end %>
	<% if !alert.nil? %>
	  <p class="bg-warning"><%= alert %></p>
	<% end %>
	<% if !error.nil? %>
	  <p class="bg-danger"><%= error %></p>
	<% end %>

<body>
	<div class="row">
		<div class="col-sm-1"><h3><%= link_to 'Phastware', '/pages/home' %></h3></div>
		<div class="col-sm-3 super text-left copyright">&copy; 2017 Seraphim Consulting Company.</div>	
		<% if user_signed_in? %>
    	<div class="col-sm-3", style="vertical-align: bottom;"><h4>Phastline Application</h4></div>
		<div class="col-sm-4 text-right", style="vertical-align: bottom;"><%= link_to "User: #{current_user.email} ", edit_user_registration_path %></div>
	</div>

	<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Simulations', simulations_path %></li>
				<li><%= link_to 'Pipelines', pipelines_path %></li>
				<li><%= link_to 'Nominations', nominations_path %></li>
				<li><%= link_to 'Commodities', commodities_path %></li>
				<li><%= link_to 'Pumps', pumps_path %></li>
				<li><%= link_to 'About', '/pages/about' %></li>
				<li><%= link_to 'Help', '/pages/help' %></li>
				<% if current_user.admin? %>
					<li><%= link_to 'Admin', users_path %></li>
				<% end %>
				<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
			</ul>
		</div>
    </nav>
	<% end %>
    <div class="col-sm-12">
	  <%= yield %>
    </div>
</body>

</div>

<div class="container">
<% if !@simulation.nil? %>
  <%= render 'shared/error_messages', :object => @simulation %>
<% end %>
</div>

</html>
