<!DOCTYPE html>
<html>
<head>
  <title>Phastware Pipeline Hydraulics Application Software Tools </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
	<% if !success.nil? %>
	  <p class = "success"><%= success %></p>
	<% end %>
	<% if !notice.nil? %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% if !alert.nil? %>
	  <p class="alert"><%= alert %></p>
	<% end %>
	<% if !error.nil? %>
	  <p class="error"><%= error %></p>
	<% end %>

<body>
	<div><h1 class="span-6 top"><%= link_to 'Phastware', '/pages/home' %></div> </h1><div><h1 class="span-17 top"><p>&copy; 2017 Seraphim Consulting Company.</p></h1></div>
	<% if user_signed_in? %>
    	<div class="span-12 pull-6 large"><em>Phastline Application</em> </div> <div class="span-12 push-6 large"><%= link_to "User: #{current_user.email} ", edit_user_registration_path %></div>
	    <nav class="span-24 large loud menu1">
			<ul>
				<li class="span-3"><%= link_to 'Simulations', simulations_path %></li>
				<li class="span-3"><%= link_to 'Pipelines', pipelines_path %></li>
				<li class="span-3"><%= link_to 'Nominations', nominations_path %></li>
				<li class="span-3"><%= link_to 'Commodities', commodities_path %></li>
				<li class="span-2"><%= link_to 'Pumps', pumps_path %></li>
				<li class="span-2"><%= link_to 'About', '/pages/about' %></li>
				<li class="span-2"><%= link_to 'Help', '/pages/help' %></li>
				<% if current_user.admin? %>
					<li class="span-2"><%= link_to 'Admin', users_path %></li>
				<% end %>
				<li class="span-3 last"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
			</ul>
	    </nav>
	<% end %>
    <div class="span-24">
	  <%= yield %>
    </div>
</body>

</div>

<div class="container">
<% if !@simulation.nil? %>
  <%= render 'shared/error_messages', :object => @simulation %>
<% end %>
</div>

</html>
